:root {
    --bg-down: #D9DBD5;
    --bg-up: #009688;
    --profile-bg: #EAEAEA;
    --notification-bg: #8EDAFC;
    --icon-color: #B1B1B1;
    --search-bg: #FAFAFA;
    --sent-chat-bg: #D5F9BA;
    --contact-last-msg: #c1c1c1;
    --hover-color: #E5DDD4;
    --user-bar-color:#CDC6BC;
    --date-style: #CDC6BC98;
    --user-interactions-icons: #6B7376;
}

body {
    height: 100vh;
    background-color: var(--bg-down);
}

body::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 13rem;
    background-color: var(--bg-up);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li,
menu {
    list-style-type: none;
}

img {
    max-width: 100%;
}

button {
    border: none;
}

input {
    border: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/********** MAIN CONTENT **********/

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    padding: 1rem 5rem;
}

.sidebar {
    flex-shrink: 0;
    width: 400px;
}

.chat-section {
    flex-grow: 1;
    border-left: 1px solid var(--contact-last-msg);
}

/******** SIDEBAR ********/

.row-column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

/***** PROFILE *****/

.col.your-profile {
    background-color: var(--profile-bg);
    padding: 0.5rem;
    flex-shrink: 0;
}

.row.profile {
    align-items: center;
    gap: 0.75rem;
    padding-right: 1rem;
}

.row.profile-interactions {
    margin-left: auto;
    gap: 1rem;
}

.profile-thumbs {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 999px;
    object-fit: cover;
    object-position: center;
}

.profile-name {
    font-weight: bold;
}

.profile-interactions i {
    color: var(--icon-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/***** /PROFILE *****/

/***** NOTIFICATIONS *****/

.col.notifications {
    background-color: var(--notification-bg);
    padding: 1rem;
    flex-shrink: 0;
}

.row.search-row {
    padding: 0.25rem;
}

.row.push-notifications {
    align-items: center;
    gap: 1rem;
}

.bell-style {
    aspect-ratio: 1;
    background-color: white;
    border-radius: 999px;
    padding: 1rem;
}

.bell-style i {
    color: var(--notification-bg);
    font-size: 1.5rem;
}

.notifications-toggle h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.notifications-toggle p {
    font-size: 0.75rem;
    text-decoration: underline;
    cursor: pointer;
}

/***** NOTIFICATIONS *****/

/***** SEARCH-BAR *****/

.col.chat-search {
    background-color: var(--search-bg);
    padding: 0.25rem;
    flex-shrink: 0;
}

.search-button {
    border: 1px solid var(--contant-last-msg);
    padding: 0.25rem 1.75rem;
    font-size: 1.5rem;
    background-color: white;
    cursor: pointer;
    color: var(--icon-color);
}

.search-input {
    border: 1px solid var(--contant-last-msg);
    width: 100%;
    font-size: 1rem;
    padding: 0.25rem;
}

/***** /SEARCH-BAR *****/

/***** CONTACTS *****/

.col.chat-list {
    overflow-y: scroll;
    flex-grow: 1;
    background-color: white;
}

.row.chats {
    border-top: 1px solid var(--contant-last-msg);
    padding: 0.5rem;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.row.chats:hover {
    background-color: var(--hover-color);
}

.contact {
    align-self: flex-start;
}

.contact h4 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.contact p {
    color: var(--contant-last-msg);
}

.msg-time {
    font-size: 0.75rem;
    margin-left: auto;
    align-self: flex-start;
    color: var(--contant-last-msg);
}

/***** /CONTACTS *****/

/******** /SIDEBAR ********/

/******** CHAT SECTION ********/

/***** CHAT INFO *****/

.col.contact-chat-info {
    flex-shrink: 0;
    padding: 0.5rem;
    background-color: var(--profile-bg);
}

.row.chat-profile {
    align-items: center;
    gap: 0.75rem;
    padding-right: 1rem;
}

.off-contact {
    display: none;
}

.on-contact {
    display: block;
}

/***** /CHAT INFO *****/

/***** CHAT *****/

.col.contact-chat {
    flex-grow: 1;
    overflow-y: scroll;
    background-image: url(../img/chat-background.jpg);
    display: flex;
    padding: 2rem 4rem;
    flex-direction: column;
}

.container-chat {
    display: flex;
    flex-direction: column;
}

.container-chat > * {
    border-radius: 10px;
    flex-basis: auto;
    width: 270px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.off-chat {
    display: none;
}

.on-chat {
    display: block;
}

.msg-date {
    background-color: var(--date-style);
    margin: 0 auto;
    text-align: center;
    padding: 0.25rem;
    border-radius: 50px;
    margin-bottom: 1rem;
    color: white;
    width: 100px;
}

.sent-msg {
    background-color: var(--sent-chat-bg);
    margin-left: auto;
}

.received-msg {
    background-color: rgb(255, 255, 255);
    margin-right: auto;
}

.msg-time {
    text-align: end;
}

/***** /CHAT *****/

/***** USER-INTERACTIONS *****/

.col.user-utilities{
    flex-shrink: 0;
    background-color: var(--user-bar-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 0.5rem;
}

.user-interactions {
    flex-basis: auto;
    font-size: 2rem;
    color: var(--user-interactions-icons);
}

.user-text {
    flex-basis: 80%;
}

.text-input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
}

/***** /YOUR MESSAGE *****/

/******** /CHAT SECTION ********/

/********** /MAIN CONTENT **********/

/***** DEBUG *****/

/* body .container {
    border: 2px solid black;
}

body .chat-section {
    border: 2px dotted red;
}

body .sidebar {
    border: 2px dotted green;
}

body .col.contact-chat-info {
    border: 1px solid black;
    height: 90px;
}

body .col.your-message {
    border: 1px solid red;
    height: 90px;
} */